*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: //whatever I want the font family to be 
}

body {
  background-color:yellow
  }

.container {
  font-size: 18px;
  background-color: orange
  width: 80wv;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate (-50%, -50%)
  padding: 3em;
  border 
}
  
main {
    display: grid;
    grid-template-columns: //add the amount of columns here (check the connect 4)
    grid-template-rows: //add the amount of rows here 
  }

main * {
  display: flex
  justify-content: center;
  align-items: center;
}
  
#spaceman-filmstrip {
    width: 504px;
    height: 687px;
    background-image: url("imgs/spaceman-filmstrip.jpg");
    background-position-x: 0;
  }