*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway' , sans-serif;
}
header {
  font-size: 3vmin;
  color: pink;
  letter-spacing: 1vmin
}

body {

  font-family: 'Raleway' , sans-serif;
  background-image: url("https://images.pexels.com/photos/2319413/pexels-photo-2319413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: absolute;
  width:absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg {
background-size: cover;
background-attachment: fixed;
height: 100%;
background-image: url("https://images.pexels.com/photos/2319413/pexels-photo-2319413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}


h1 {
  margin-top: 5vmin;
  color: red;
  font-size: 65px;
  display:flex;
  justify-content: center;
  align-items: center;

}

h2 {
  color: palevioletred;
  font-size: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vmin;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
  height: 50%
}

#main-image {
display:center;
height: 50%;

}

h4{
  font-size: 30px;
  color:gold;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right:40%;
  margin-bottom: 1vmin;
}
.spotLight{
  color:white;
  font-size:
}

#letter-button{
  height: 60px;
  width: 60px;
  color: green;
  padding: 0.2vmin;
}

.button-container-1{
  display:flex;
  justify-content: center;
}

.button-container-2{
  display:flex;
  justify-content: center;

}

.button-container-3{
  display:flex;
  justify-content: center;

}

button{
  color:red
  font-size: 20px;
}

#playButton {
  margin-top: 4vmin;
  padding: 1vmin;
  font-size: 2vmin;
  border-radius: 1min;
  border: 0.1vmin solid white;
  color: red;
  align-items:center; 
  position:bottom;

}
main {
    display: grid;
}

main * {
  display: flex
  justify-content: center;
  align-items: center;
}

p{
color: pink;
text-align: center;
margin: auto;
}

