*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway' , sans-serif;
}

body {
  height: 100vh
  margin: 0
  font-family: 'Raleway' , sans-serif;
  display: flex 
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

header {
  font-size: 3vmin;
  color: pink;
  letter-spacing: 1vmin
}

h1 {
  color: green;
  font-size: 2vmin;
}

button {
  margin-top: 4vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 4min;
  border: 0.1vmin solid white;
  color: red;
}
main {
    display: grid;
}

main * {
  display: flex
  justify-content: center;
  align-items: center;
}
  
